.entries {
  display: flex;
  justify-content: center;
}

.index {
  height: 80vh;
  width: 15%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index div {
  display: flex;
  flex-direction: column;
}

.posts {
  width: 50%;
  min-height: 2000px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.post {
  padding: 20px;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, .2);
  color: white;
}

.first-post {
  margin-top: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, .2);
  color: white;
}

.blog h2 {
  margin: 0;
  font-size: 20px;
}

.blog h4 {
  margin: 10px 0 0 0;
}

.blog-link {
  color: black;
  transition: 2s;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 600;
}

.blog-link:hover {
  color: white;
  transition: 0s;
  cursor: pointer;
}
