.entries {
  display: flex;
  justify-content: center;
}

.index {
  height: 80vh;
  width: 15%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index div {
  display: flex;
  flex-direction: column;
}

.posts {
  // width: 65%;
  height: 2000px;
  display: flex;
  flex-direction: column;
}

.post {
  margin-top: 500px;
}

.first-post {
  margin-top: 0;
}

.blog h2 {
  margin: 0;
}

.blog-link {
  color: black;
  transition: 2s;
}

.blog-link:hover {
  color: white;
  transition: 0s;
  cursor: pointer;
}
