* {
  font-family: monospace;
  font-size: 16px;
}

.main-page {
  background-color: #303030;
  // background-image: linear-gradient(to bottom right, #FFF, #000 );
  min-height: 1200px;
  height: auto;
  padding: 0 20px;
}

.sub-nav {
  padding: 0 50px;
}
