* {
  font-family: monospace;
  font-size: 16px;
}

.main-page {
  // background-color: skyblue;
  background-image: linear-gradient(to bottom right, #00d2ff, #000046 );
  min-height: 1200px;
  height: auto;
  padding: 0 20px;
}

.sub-nav {
  padding: 0 50px;
}
