.navigation {
  height: 50px;
  margin-bottom: 20px;
}

.navbar-right {
  display: flex;
  float: right;
  align-items: flex-end;
  height: 50px;
  margin: 0;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar li {
  list-style-type: none;
  padding: 0 20px;
}

.navbar a {
  text-decoration: none;
}
