.navigation {
  height: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
}

.navbar-header {
  float: left;
  display: flex;
  align-items: center;
  height: 50px;
}

.logo {
  border-radius: 50%;
  border: 4px solid black;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo span {
  font-size: 40px;
  padding-bottom: 2px;
  font-weight: 600;
  color: black;
  transition: 2s;
}

.logo:hover {
  border-color: white;
  transition: 0s;
}

.logo:hover span {
  color: white;
  transition: 0s;
}

.navbar-right {
  display: flex;
  float: right;
  align-items: center;
  height: 50px;
  margin: 0;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar li {
  list-style-type: none;
  padding: 0 20px;
}

.navbar li:last-child {
  padding-right: 0;
}

.navbar a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: 2s;
  font-size: 20px;
}

.navbar a:hover {
  color: white;
  transition: 0s;
}
