.navigation {
  height: 50px;
  margin-bottom: 50px;
  padding: 50px 50px 0 50px;
}

.navbar-header {
  float: left;
  display: flex;
  align-items: center;
  height: 50px;
}

.logo {
  border-radius: 50%;
  border: 7px solid #28d0ff;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo span {
  font-size: 60px;
  padding-bottom: 5px;
  font-weight: 600;
  color: #28d0ff;
  transition: 2s;
}

.logo:hover {
  border-color: white;
  transition: 0s;
}

.logo:hover span {
  color: white;
  transition: 0s;
}

.navbar-right {
  display: flex;
  float: right;
  align-items: center;
  height: 50px;
  margin: 0;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar li {
  list-style-type: none;
  padding: 0 20px;
}

.navbar li:last-child {
  padding-right: 0;
}

.navbar a {
  color: #28d0ff;
  font-weight: 600;
  text-decoration: none;
  transition: 2s;
  font-size: 30px;
}

.navbar a:hover {
  color: white;
  transition: 0s;
}
