.projects .sub-nav {
  display: flex;
  justify-content: center;
}

.projects .sub-nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
}

.projects .sub-nav li {
  list-style-type: none;
  height: 200px;
  width: 200px;
  background-color: black;
  position: relative;
  border-radius: 5%;
}

.static-image {
  height: 500px;
  width: auto;
}

.project-img {
  border-radius: 5%;
  position: absolute;
  width: 200px;
  height: 200px;
  transition: 2s;
}

.project-img:hover {
  opacity: .5;
  transition: 0s;
  cursor: pointer;
}

.project a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: 2s;
}

.project a:hover {
  color: white;
  transition: 0s;
}

.project .entries {
  flex-direction: column;
  align-items: center;
}

.proj-description {
  margin-top: 25px;
  margin-bottom: 20px;
  width: 50%;
  color: white;
}

.title-techs {
  width: 50%;
  display: flex;
  color: white;
  margin-top: 25px;
  align-items: baseline;
}

.proj-links {
  margin-top: 10px;
  display: flex;
  width: 50%;
}

.proj-links a {
  margin-right: 20px;
}

.proj-title {
  font-size: 25px;
  font-weight: 600;
  margin-right: 20px;
}
